parameters:
    level: 7

    ignoreErrors:
        - '#Class .+ uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types#'
        - '#Undefined variable: \$this#'
